<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <script src="lib/ionic/js/angular/angular-resource.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>
	
	<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  	<!--<script src="js/oauth.min.js"></script>-->

    <!-- your app's js -->
    <script src="js/app.js"></script>
	<script src="js/services.js"></script>
	<script src="js/controllers.js"></script>
    
  </head>
  
	 <body ng-app="starter" ng-controller="IndexCtrl">
	
	         <ion-nav-view animation="slide-left-right">
		  
		      <ion-content class="singup">
			  
			  	 <div class="" style="margin-top:70px;">
				  	<h1>Enterate de las últimas novedades y promociones!</h1>
			  	 </div>
			  
			  	<div style="padding-top:130px; text-align:center">
				
					<button class="button button-block button-large button-positive" ng-click="fbLogin();">
					 Connect with Facebook
					</button>
					
					<button class="button button-block button-large button-calm"  ng-click="twLogin();">
					  Connect with Twitter
					</button>

                    <button class="button button-block button-large button-assertive" ng-click="singin()">
                        Connect with email
                    </button>
			  		
			  	</div>
			  	
		      </ion-content>
		    
			</ion-nav-view>
	    
	  </body>
</html>
	