<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
    <script src="js/services.js"></script>
	<script src="js/controllers.js"></script>
  
  </head>
  
  <body ng-app="starter" ng-controller="IndexCtrl">
     
     <div class="bar bar-header bar-dark">
		<h1 class="title">Registro de usuario</h1>
	</div>

    <ion-pane>
   
      <ion-content>
		
	<!--	<div class="card" ng-show="showSuccessMessage"  > 
		  <div class="icon ion-checkmark-circled item item-text-wrap item-balanced">
		 Registrado con Éxito  </div>
		</div>
		-->
		 <div class="card" ng-show="showErrorMessage" style="padding-top:50px"> 
              <div class="icon ion-alert-circled item item-text-wrap item-assertive">
                Errores de validacion: <label ng-repeat='errorMessage in errorMessages'>{{errorMessage}}. </label>
              </div>
		</div> 
		
		<div class="list" style="padding-top:50px">
		
			<label class="item item-input item-floating-label"> <span
				class="input-label">Nombre</span> <input type="text"
				placeholder="Nombre *"  ng-model="user.firstName" >
			</label>
			
			<label class="item item-input item-floating-label"> <span
				class="input-label">Apellido</span> <input type="text"
				placeholder="Apellido *"  ng-model="user.lastName">
			</label> 
			
			<label class="item item-input item-select">
				<div class="input-label">Sexo</div> 
					<select ng-model="user.sexo">
						<option value="MASCULINO" >Masculino</option>
						<option  value="FEMENINO">Femenino</option>
					</select>
			</label> 
			
			<label class="item item-input"> <span class="input-label" >
				Fecha de Nacimiento</span> 
				<input type="date" ng-model="user.fechaNacimiento">
			</label>
			
			<label class="item item-input item-floating-label"> <span
				class="input-label">Localidad</span> <input type="text"
				placeholder="Localidad" ng-model="user.localidad">
			</label> 
			
			<label class="item item-input item-floating-label"> <span
				class="input-label">Email</span> <input type="text"
				placeholder="Email *" ng-model="user.email">
			</label>

            <div ng-show="showPasswords" >
                <label class="item item-input item-floating-label"> <span
                        class="input-label">Password</span> <input type="password"
                        placeholder="Password *" ng-model="user.password">
                </label>

                <label class="item item-input item-floating-label"> <span
                        class="input-label">Confirm Password</span> <input type="password"
                        placeholder="Confirm Password *" ng-model="user.confirmPassword">
            </label>
            </div>

			<label class="item item-input"> <span
				class="input-label">Teléfono</span> <input type="tel"
				placeholder="celular" ng-model="user.telefonoCelular">
			</label>
			
			<label class="item item-input item-select">
				<div class="input-label">Estado Civil</div> 
					<select ng-model="user.estadoCivil">
						<option value="SOLTERO">Soltero</option>
						<option value="CASADO" >Casado</option>
						<option value="DIVORCIADO" >Divorciado</option>
						<option value="VIUDO">Viudo</option>		
					</select>
			</label> 
			
			<label class="item item-input"> <span
				class="input-label">Cantidad de Hijos</span> <input type="number"
				placeholder="hijos" ng-model="user.cantidadHijos">
			</label>
						
			<input type="hidden" ng-model="user.facebookId">
			<input type="hidden" ng-model="user.twitterId">
			<input type="hidden" ng-model="user.empresaId">
				
		</div>
		
		<button class="button button-full button-balanced" ng-click="saveUser(user)">
		  Enviar
		</button>

	</ion-content>
	   

    </ion-pane>
  </body>
</html>

