<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
    <script src="js/services.js"></script>
    <script src="js/controllers.js"></script>

</head>

<body ng-app="starter" ng-controller="IndexCtrl">

<div class="singin bar bar-header bar-dark">
    <h1 class="title">Registro de usuario</h1>
</div>

<ion-pane>

    <ion-content>
        <div class="card" ng-show="showErrorMessage" style="padding-top:50px">
            <div class="icon ion-alert-circled item item-text-wrap item-assertive">
                Errores de validacion: <label ng-repeat='errorMessage in errorMessages'>{{errorMessage}}. </label>
            </div>
        </div>
        <div class="list" style="padding-top:50px">
            <label class="item item-input">
                <span class="input-label">Email</span>
                <input type="text" ng-model="user.email">
            </label>
            <label class="item item-input">
                <span class="input-label">Password</span>
                <input type="password" ng-model="user.password">
            </label>
        </div>
        <div class="padding">
            <button class="button button-block button-positive" ng-click="findUser(user)">
                Sign-In
            </button>
        </div>
        <div class="padding">
            <button class="button button-block button-calm" ng-click="forgotPassword()">
                Forgot Password ?
            </button>
        </div>
        <div class="padding">
            <button class="button button-block button-balanced" ng-click="singup()">
                Registrase
            </button>
        </div>
    </ion-content>

</ion-pane>
</body>
</html>

