<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
    <script src="js/services.js"></script>
	<script src="js/controllers.js"></script>
  
  </head>
  
  <body ng-app="starter" ng-controller="IndexCtrl">
     
    <ion-pane>
   
      <ion-content>
		
		<div class="card"> 
		  <div class="item item-text-wrap">
		  
			  <div class="item item-divider">
			    Nombre
			  </div>
			  <div class="item item-text-wrap">
			    {{user.nombre}}, {{user.apellido}}
			  </div>
			  <div class="item item-divider">
			    Sexo
			  </div>
			  <div class="item item-text-wrap">
			    {{user.sexo}}
			  </div>
			 <div class="item item-divider">
			    Email
			  </div>
			  <div class="item item-text-wrap">
			    {{user.email}}
			  </div>
			 <div class="item item-divider">
			    Estado Civil
			  </div>
			  <div class="item item-text-wrap">
			    {{user.estadoCivil}}
			  </div>		
				<div class="item item-divider">
			    Telefono
			  </div>
			  <div class="item item-text-wrap">
			    {{user.telefonoCelular}}
			  </div>  
			 
		 </div>
		</div>
		
	</ion-content>
	   

    </ion-pane>
  </body>
</html>

