/* Empty. Add your own CSS if you like */


.singup {
        background: url('../img/spirit.jpg') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    h1 {
        color: #FFF;
        font-weight: bolder;
        text-align: center;
        background-color: rgba(32, 32, 32, 0.5);
    }

.singin {
    margin-bottom: 40px;
}

